<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="../Assets/YT_icon.png">
        <title> PixelOtaku's webpage</title>
    </head>

    <body style="background-color: #191919; width: auto;">
        <a href="/"><button>Home</button></a>
        <hr>

        <!-- The Header -->
        <header style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border: 2px solid; border-color: azure;
        background-color:#585783; border-radius: 10px; padding-left: 80px;  padding-right: 80px; color: lightgray;
        max-width: 1000px; margin:auto; margin: 0 auto;">

            <h1> About Me.</h1>
            <p>
                You can read about who I am and how i got here if you're interested (This is not a Blog by the way).
            </p>

        </header>

        <br>

        <!-- The Main Information -->
        <main style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border: 2px solid; border-color: azure;
        background-color:#585783; border-radius: 10px; padding-left: 120px; padding-right: 120px; color: lightgray;
        max-width: 1100px; margin:auto; margin: 0 auto;">

            <br>
            <h3>my story</h3>
            <p>
                Alright, so my story starts somewhere around 2023. Prior to the year 2023 I had always liked building stuff and i wanted to become a robotics engineer.
                At one point I realized that To make a robot I'd have to actually build it then later actually program it ... I did not want to have to learn programming
                honestly. I was afraid of programming at first because I thought I'd have to learn how to read and write machine code, knowing how lazy I was I decided not
                to waste my time.<br><br>

                At some point in time, a friend told me about something called an Arduino. He spoke about how he saw some kids online make stuff then program those gadgets
                using the Arduino. I found this rather interesting so I went on to YouTube and started searching about how to program the Arduino board, I was thrilled about
                the fact that I didn't have to learn how to read and write binary so I decided it was time I start learning.<br><br>

                So I started searching about the steps I needed to take to learn how to program, note that during this time I didn't have a PC but I had a phone, and by this
                 time I knew that phones were just a kind of computer so I assumed that I'd be able to learn programming. My friend had told me that he was learning a programming
                 language called Javascrpt and that it was simple and quite popular, I was skeptic because it was a programming language used to make web sites and I wanted to be
                able to build just about anything I wanted from scratch, so I hoped online and started searching for easy, general purpose programming languages and that's when I
                learnt about Python.<br><br>

                Before I got convinced about python becoming my main language, I searched about things that were made using python, I found out part of big apps like YouTube,
                Pinterest, Blender and a bunch of other programs. From then I was convinced though I knew I had to study my butt off. I looked for apps, books and YouTube videos
                to try and learn but finding stuff was really hard but I kept pushing. Around this time since I couldn't find any good apps I did programming problems on a sheet
                of paper then I'd go to an internet cafe to try them out in google collab (this was because getting internet connection was rather hard.)<br><br>
                
                I kept trying and trying but at one point I gave up. So I thought to myself, "If trying your best yeilded not results, what was the point". The next year, 2024,
                the year I got into grade 10, I had still lost hope until I found out that there were two people in my class that knew about python and wanted to learn it 
                (Note, I am very, very competetive) I locked in to give programming another try. This time I didn't try to avoid the really complicated stuff like the terminal, I
                decided that I was going to learn all of it. Again I still didn't have a PC but since m school strated having us use tablets around this time, I decided to see if I 
                could make anything on it. It's (I still have it) an Amazon Fire tablet, I think HD8 10<sup>th</sup> generation so firstly I had to somehow get google and google play
                 services on it ... I was a pain. Then I learnt about Termux and Linux distributions and all that thanks to this guy on YouTube. Finally, I had my own make shift computer<br><br>

                 So, now that I had my own makeshift computer, I installed the Python Intepretor and then I tried to remember some of the stuff I did the year proir to this ... I couldn't remember 
                sh*t. I restarted all my python courses then I learnt about Turtle, a python module which led me to move onto Tkinter because I wanted to make GUI applications. At one point I was 
                challenged to make a game by a few friends and so I picked up pygame, a wrapper for SDL2. I hoped onto YouTube and started trying my hand at it. A few months later, somewhere around 
                August 15<sup>th</sup> I started making my biggest project yet, a game but without the use of tutorials.<br><br>

                I'd like to note that by this time it had been months since I asked my Dad to help me save up for a computer. So, I got started on the game and like my YouTube channel name it took weeks 
                to think of but since I remembered what inspired me to start the project in the first place I was finally able to start it, btw the inspiration was a life science lesson. One time when I 
                wondered what would happen if two people somehow swapped memories. So I started the project but I didn't finish it because a few months later my birthday came and I got a laptop.<br><br>

                After I got a laptop (my first laptop by the way), I quickly moved my game from the table and into my laptop along with a few other projects. I tried running the game for the first time and 
                ... It worked, sort of. There was a problem with scaling and same went for my map editor so I decided to restart it as quickly as possible, Ohh it was around this time that I remembered that 
                I had a YouTube channel so I lso got myself the software I needed to recored, and edit my videos. Then on New Year of 2025 I uploaded a video summarizing the stuff I built (You can watch it on 
                <a href="https://www.youtube.com/@PixelOtaku1" style="color:aqua">my channel</a>) during what was my official year of programming (we don't count 2023).<br><br>

                Eversince I got my machine I have made a bunch of stuff and have managed to learn a lot as well. Iv'e made a few products that gave to a few buddies, and a few that that you will hear about on 
                my YouTube channel, Iv'e been able to learn a bunch of stuff like programming languages including C, C++, Rust, GLSL (for writing shaders), HTML, CSS, a bit of Javascript, Delphi (because of school),
                etc. Hopefully whomever actually read this wasn't bored to death by the end and Hopefully may want to show support. If you can try sharing this to anyone who might be interested and or at 
                least check out my YouTube channel.<br><br>

                Peace ...
            </p>
        </main>

        <br>

        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: larger; align-self: auto;">You can show support by Subscribing to my channel or sharing to anyone whose interested</p>

    </body>
</html>